body {
box-sizing: border-box;
}
.productCard {
    border: 1px solid black;
    object-fit: cover;
    min-width: 100%;
    transition: transform .2s;
}
.productCard:hover {
    transform: scale(1.1);
}
.card-img-top{
    height: 10rem;

}